.item {
	height: 40px;
	border-bottom: 1px solid #ededed;
	transition: background-color .3s cubic-bezier(.4,0,.2,1);
}
.item:hover {
	background-color: #ededed;
}

.item .content {
	cursor: pointer;
	display: inline-block;
	line-height: 40px;
	padding: 0 8px;
}
.item .completed {
	text-decoration: line-through;
}

.item .mdi-delete {
	float: right;
	cursor: pointer;
	margin-right: 8px;
	font-size: 2rem;
    color: #39b881;
    margin-top: 8px;
}