.item {
	height: 40px;
	border-bottom: 1px solid #ededed;
	transition: background .6s ease-in;
}
.item:hover {
	background-color: #ededed;
}

.item .content {
	cursor: pointer;
	display: inline-block;
	line-height: 40px;
	padding: 0 8px;
}
.item .completed {
	text-decoration: line-through;
}

.item .mdi-delete {
	float: right;
	cursor: pointer;
	margin-right: 8px;
}