.btn {
	position: relative;
    height: 32px;
    min-width: 64px;


    display: inline-block;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
   
    letter-spacing: 0px;
    will-change: box-shadow;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 32px;
    vertical-align: middle;
   
    border-style: none;
   
    border-radius: 2px;
   
    padding: 0px 16px;
    overflow: hidden;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;

        box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px;
    background: rgba(158, 158, 158, 0.2);

        color: rgb(255, 255, 255);
    background-color: #39b881;
}