
@font-face {
  font-family: "Material Design Icons";
  src:  url("./fonts/materialdesignicons-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.mdi {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  &.mdi-delete:before {
    content: "\F159";
  }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 1.4rem;
    line-height: 1.15;
    background-color: #f5f5f5;
    color: #2c3e50;
}


.todos {
    width: 30%;
    border-radius: .2rem;
    margin: 0 auto;
    margin-top: 10%;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
	



